html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0 16px;
}

.fa-pause-circle {
    font-size: 32px;
    padding: 0 16px;
}

.fa-play-circle {
    font-size: 32px;
    padding: 0 16px;
}

.fa-step-backward {
    font-size: 32px;
    padding: 0 16px;
}

.fa-step-forward {
    font-size: 32px;
    padding: 0 16px;
}

.fa-volume-up {
    font-size: 32px;
}

.far {}

.fas {}

.main {
    margin: 0 0 16px 256px;
}

.main-footer {}

.main-header {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    height: 100%;
    max-height: 100vh;
    padding-left: 16px;
}

.main-header__recently {
    display: flex;
    flex-flow: column wrap;
}

.main-logo {
    font-size: 48px;
    margin: 16px 0 0 0;
}

.navigation {
    display: block;
}

.navigation__list {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
}

.navigation__element {
    font-size: 18px;
    margin: 8px 0;
}

.navigation__link {
    text-decoration: none;
}

.page {
    display: flex;
    justify-content: flex-start;
}

.podcast {
    display: flex;
    flex-flow: column nowrap;
    margin: 16px;
    width: 100%;
    max-width: 173.5px;
}

.podcast__author {
    font-size: 16px;
    text-align: center;
}

.podcast__name {
    font-size: 22px;
    text-decoration: none;
    padding: 8px 0;
    text-align: center;
}

.podcast__image {
    width: 100%;
    height: 100%;
    max-width: 173.5px;
    max-height: 173.5px
}

.podcast-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 16px;
}

.podcast-line {
    display: flex;
    flex-flow: column wrap;
    padding-left: 16px;
}

.podcast-line__name {
    font-size: 24px;
}

.played__image {
    width: 100%;
    height: 100%;
    max-width: 96px;
    max-height: 96px;
}

.played__name {
    font-size: 18px;
    text-decoration: none;
    padding: 0 0 8px 8px;
}

.played__author {
    font-size: 16px;
    margin: 0 0 8px 8px;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100vw;
    position: fixed;
    bottom: 0;
    padding: 0 64px 16px 0px;
}

.played__description {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.player__navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 10vw;
}

.player__played {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.podcast__name-recently {
    font-size: 16px;
    padding: 8px 0;
    text-decoration: none;
}

.recently__element {
    margin: 8px 0;
}

.recently__list {
    list-style: none;
    padding: 0;
}